spring:
  application:
    name: inventory-service
  jpa:
    hibernate:
      ddl-auto: update
  datasource:
    url: jdbc:postgresql://localhost:5432/ecommerce_inventory
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  data:
    redis:
      host: localhost
      port: 6379
  kafka:
    bootstrap-servers: localhost:9092
server:
  port: 8083
management:
  endpoints:
    web:
      exposure:
        include: health,metrics,prometheus
